﻿@{
    ViewBag.Title = "SAChangeTonnageCostPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>Change Tonnage Cost
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Change Tonnage Cost</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div data-ng-app="tonnageApp" data-ng-controller="TonnageController" data-ng-init="TonnageInit()">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="form-group" id="dvMessage" style="display:none">
                        <label for="lblMessage" class="col-sm-6 control-label label-danger" id="lblMessage" data-ng-model="lblMessage">{{lblMessage}}</label>
                    </div>

                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tonnage Range</label>
                                <select class="form-control" data-ng-options="t.TonnageId as t.TonnageRange for t in Tonnage" data-ng-model="TonnageRange" data-ng-change="TonnageChange()">
                                    <option value="">--Select Tonnage--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Amount</label>
                                <input type="text" class="form-control" id="txtAmount" placeholder="Amount" data-ng-model="txtAmount">
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" data-ng-click="UpdateTonnage()">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->

            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/SA/CreateUser.js"></script>
