﻿@model List<DataTransferObject.UserDTO>
@{
    ViewBag.Title = "SAViewEmployeesPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        View Tickets
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">View Employees</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                    @if(item.RoleId == Convert.ToInt32(DataTransferObject.RoleDTO.UserRoles.StateHead))
                                    {                                    
                                         @DataTransferObject.RoleDTO.UserRoles.StateHead
                                    }
                                    else if (item.RoleId == Convert.ToInt32(DataTransferObject.RoleDTO.UserRoles.DistrictHead))
                                    {
                                        @DataTransferObject.RoleDTO.UserRoles.DistrictHead
                                    }
                                    else if (item.RoleId == Convert.ToInt32(DataTransferObject.RoleDTO.UserRoles.BusinessAssociate))
                                    {
                                        @DataTransferObject.RoleDTO.UserRoles.BusinessAssociate                                    
                                    }
                                    </td>
                                    <td>
                                        @if (item.Status == "Approved")
                                        {
                                            <span class="label label-success">Approved</span>
                                        }
                                        else if (item.Status == "Pending")
                                        {
                                            <span class="label label-warning">Pending</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Denied</span>
                                        }
                                    </td>
                                </tr>
                            }                            
                        </tbody>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

