﻿@{
    ViewBag.Title = "CreateUser";
}
<div data-ng-app="createUserApp" data-ng-controller="CreateUserController" data-ng-init="CreateUserInit()">
    <form id="frmCreateUser" novalidate>
        <div style="float:left;width:80%">
            <label>User Name : </label>
            <input type="text" name="txtUserName" id="txtUserName" data-ng-model="txtUserName" />
            <span style="color:red" data-ng-show="frmCreateUser.txtUserName.$dirty || frmCreateUser.txtUserName.$invalid"></span>
            <span style="color:red" data-ng-show="frmCreateUser.txtUserName.$error.required">User Name is Required</span>
        </div>

        <div style="float:left;width:80%">
            <label>Password : </label>
            <input type="password" name="txtPassword" id="txtPassword" data-ng-model="txtPassword" />
            <span style="color:red" data-ng-show="frmCreateUser.txtPassword.$dirty || frmCreateUser.txtPassword.$invalid"></span>
            <span style="color:red" data-ng-show="frmCreateUser.txtPassword.$error.required">Password is required</span>
        </div>

        <div style="float:left;width:80%">
            <label>Confirm Password : </label>
            @*<input type="password" name="txtConfirmPassword" id="txtConfirmPassword" data-ng-model="txtConfirmPassword" data-ng-match="txtPassword" />
            <span style="color:red" data-ng-show="frmCreateUser.txtConfirmPassword.$dirty || frmCreateUser.txtConfirmPassword.$invalid"></span>
            <span style="color:red" data-ng-show="frmCreateUser.txtConfirmPassword.$error.required">Confirm Password is required</span>
            <span style="color:red" data-ng-show="frmCreateUser.txtConfirmPassword.$error.match">Password & Confirm Password is not same.</span>*@

            <input class="form-control" type="password" name="txtConfirmPassword" required="" data-ng-model="txtConfirmPassword" data-ng-match="txtPassword" />
            <span style="color:red" data-ng-show="frmCreateUser.txtConfirmPassword.$dirty || frmCreateUser.txtConfirmPassword.$invalid"></span>
            <span style="color:red" data-ng-show="frmCreateUser.txtConfirmPassword.$error.required">This is required.</span>
            <span style="color:red" data-ng-show="frmCreateUser.txtConfirmPassword.$error.match">Passwords do not match.</span>

        </div>

        <div style="float:left;width:80%">
            <label>Employee Type : </label>
            <select data-ng-model="EmployeeType" data-ng-options="u.RoleId as u.RoleName for u in UserRoles" data-ng-change="SelectUserRole()">
                <option value="">--Select Employee Type--</option>
            </select>
        </div>

        <div style="float:left;width:80%" data-ng-show="EmployeeType">
            <label>Select State : </label>
            <select data-ng-model="StateType" data-ng-options="s.StateId as s.StateName for s in State" data-ng-change="SelectState(1)">
                <option value="">--Select State--</option>
            </select>
        </div>

        <div style="float:left;width:80%" data-ng-show="StateType && EmployeeType > 2">
            <label>Select District : </label>
            <select data-ng-model="DistrictType" data-ng-options="d.DistrictId as d.DistrictName for d in District" data-ng-change="SelectDistrict()">
                <option value="">--Select District--</option>
            </select>
        </div>

        <div style="float:left;width:80%" data-ng-show="DistrictType">
            <label>Select RTO : </label>
            <select data-ng-model="RTOType" data-ng-options="r.RTOId as r.RTOCode for r in RTO" data-ng-change="SelectRTO()">
                <option value="">--Select RTO--</option>
            </select>
        </div>

         <div style="float:left;width:80%" data-ng-show="RTOType && EmployeeType > 3">
            <label>Select PinCode : </label>
            <select data-ng-model="PinCodeType" data-ng-options="p.PinCodeId as p.PinCode for p in PinCode" data-ng-change="">
                <option value="">--Select PinCode--</option>
            </select>
        </div>


        @*<div class="form-group" data-ng-class="{'has-error':!frmCreateUser.password.$valid}"><label for="password">Password</label>
        <input class="form-control" type="password" name="password" required="" data-ng-model="Password" />
        <span class="help-block" data-ng-show="frmCreateUser.password.$error.required">This is required.</span></div>

        <div class="form-group" data-ng-class="{'has-error':!frmCreateUser.passwordCompare.$valid}"><label for="passwordCompare">Confirm Password</label>
         <input class="form-control" type="password" name="passwordCompare" required="" data-ng-model="PasswordCompare" data-ng-match="Password" />
         <span class="help-block" data-ng-show="frmCreateUser.passwordCompare.$error.required">This is required.</span>
         <span class="help-block" data-ng-show="frmCreateUser.passwordCompare.$error.match">Passwords do not match.</span></div>*@


        <div>
            <div style="float:left;width:80%">
                <h4>Personal Details.</h4>
                <hr />
            </div>
            <div style="float:left;width:80%">
                <label>Address : </label>
                <input type="text" name="txtAddress" id="txtAddress" data-ng-model="txtAddress" />
                <span style="color:red" data-ng-show="frmCreateUser.txtAddress.$dirty || frmCreateUser.txtAddress.$invalid"></span>
                <span style="color:red" data-ng-show="frmCreateUser.txtAddress.$error.required">Address is Required</span>
            </div>
            <div style="float:left;width:80%">
                <label>City : </label>
                <input type="text" name="txtCity" id="txtCity" data-ng-model="txtCity" />
                <span style="color:red" data-ng-show="frmCreateUser.txtCity.$dirty || frmCreateUser.txtCity.$invalid"></span>
                <span style="color:red" data-ng-show="frmCreateUser.txtCity.$error.required">City is Required</span>
            </div>
            <div style="float:left;width:80%">
                <label>Country : </label>
                <select data-ng-model="pCountryType" data-ng-options="c.CountryId as c.CountryName for c in pCountry" data-ng-change="SelectCountry()">
                    <option value="">--Select Country--</option>
                </select>
            </div>
            <div style="float:left;width:80%">
                <label>State : </label>
                <select data-ng-model="pStateType" data-ng-options="s.StateId as s.StateName for s in pStates" data-ng-change="SelectState(2)">
                    <option value="">--Select State--</option>
                </select>
            </div>
            <div style="float:left;width:80%">
                <label>District : </label>
                <select data-ng-model="pDistrictType" data-ng-options="" data-ng-change="">
                    <option value="">--Select District--</option>
                </select>
            </div>
            <div style="float:left;width:80%" >
                <label>Age : </label>
                <input type="text" name="txtAge" id="txtAge" data-ng-model="txtAge" />
            </div>
            <div style="float:left;width:80%" >
                <label>Email ID : </label>
                <input type="email" name="txtEmail" id="txtEmail" data-ng-model="txtEmail" />
            </div>
            <div style="float:left;width:80%" >
                <label>Mobile Number : </label>
                <input type="text" name="txtMobile" id="txtMobile" data-ng-model="txtMobile" />
            </div>
            <div style="float:left;width:80%" >
                <label>PanCard Number: </label>
                <input type="text" name="txtPan" id="txtPan" data-ng-model="txtPan" />
            </div>
            <div style="float:left;width:80%" >
                <label>Aadhar Number : </label>
                <input type="text" name="txtAadhar" id="txtAadhar" data-ng-model="txtAadhar" />
            </div>
        </div>

        <div style="float:left;width:80%">
            <button data-ng-disabled="frmCreateUser.txtUserName.$dirty || frmCreateUser.txtUserName.$invalid 
                                      || frmCreateUser.txtPassword.$dirty || frmCreateUser.txtPassword.$invalid 
                                      ||  frmCreateUser.txtConfirmPassword.$dirty || frmCreateUser.txtConfirmPassword.$invalid " data-ng-click="click()">Next</button>
        </div>
    </form>
</div>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script type="text/javascript"> 
    var createUserApp = angular.module("createUserApp", []);
    createUserApp.controller("CreateUserController", function ($scope,$http) {
        $scope.CreateUserInit = function () {
            $scope.txtUserName = '';
            $scope.txtPassword = '';
            $scope.txtConfirmPassword = '';
            $http({
                method: 'GET',
                url: '/User/GetUserRoles'
            }).
            success(function (data) {
                $scope.UserRoles = data;
            });

            $http({
                method: 'GET',
                url: '/User/GetCountry'
            })
            .success(function (data) {
                $scope.pCountry = data;
            });
        }

        $scope.SelectUserRole = function () {
            if ($scope.EmployeeType) {
                $http({
                    method: 'POST',
                    url: '/User/GetStates',
                    data : JSON.stringify({countryId : 1})
                }).
                success(function (data) {
                    $scope.State = data;
                });
            }
            //else {
            //    $scope.EmployeeType = '';
            //}
        }

        $scope.SelectState = function (obj) {
            alert(obj);
            var id;
            if (obj == 1) {
                id = $scope.StateType;
            }
            else {
                id = $scope.pStateType;
            }
            if (id) {
                //debugger;
                //if ($scope.EmployeeType > 2) {
                    $http({
                        method: 'POST',
                        url: '/User/GetDistrict',
                        data: JSON.stringify({ stateId: id })
                    }).
                success(function (dist) {
                    $scope.District = dist;
                });
                //}
                //else {
                //    $scope.StateType = '';
                //}
            }
            //else {
            //    $scope.StateType = '';
            //}
        }

        $scope.SelectDistrict = function () {
            if ($scope.DistrictType) {
                $http({
                    method: 'POST',
                    url: '/User/GetRtos',
                    data: JSON.stringify({ districtId: $scope.DistrictType })
                })
                .success(function (rto) {
                    $scope.RTO = rto;
                });
            }
            else {
                $scope.DistrictType = '';
            }
        }

        $scope.SelectRTO = function () {
            if ($scope.RTOType) {
                $http({
                    method: 'POST',
                    url: '/User/GetPincode',
                    data: JSON.stringify({ rtoId: $scope.RTOType })
                })
                .success(function (pincode) {
                    $scope.PinCode = pincode;
                });
            }
            else {
                $scope.RTOType = '';
            }
        }

        $scope.SelectCountry = function () {
            if ($scope.pCountryType) {
                $http({
                    method: 'POST',
                    url: '/User/GetStates',
                    data: JSON.stringify({countryId : $scope.pCountryType})
                })
                .success(function (states) {
                    $scope.pStates = states;
                })
            }
        }
    });
</script>