﻿@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        User Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>        
        <li class="active">User profile</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="../Content/dist/img/user4-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">Shradha Kapoor</h3>
                    <p class="text-muted text-center">Software Engineer</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Amount</b> <a class="pull-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                            <b>Trucks</b> <a class="pull-right">543</a>
                        </li>
                        <li class="list-group-item">
                            <b>Dealers</b> <a class="pull-right">13,287</a>
                        </li>
                    </ul>
                    
                </div><!-- /.box-body -->
            </div><!-- /.box -->
           
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Credentails" data-toggle="tab">User Credentails</a></li>
                    <li><a href="#UserType" data-toggle="tab">User Type</a></li>
                    <li><a href="#Personal" data-toggle="tab">Personal Details</a></li>
                    <li><a href="#Company" data-toggle="tab">Company Details</a></li>
                    <li><a href="#Bank" data-toggle="tab">Bank Details</a></li>
                </ul>
                <div class="form-group" id="dvMessage" style="display:none">
                    <label for="lblMessage" class="col-sm-6 control-label label-danger" data-ng-model="lblMessage">{{lblMessage}}</label>
                </div>
                <div class="tab-content">
                    <div class="active tab-pane" id="Credentails">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">UserName</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtUserName" name="txtUserName" placeholder="User Name" data-ng-model="txtUserName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Password" data-ng-model="txtPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Confirm Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Confirm Password" data-ng-model="txtConfirmPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger" data-ng-click="UserCredentialNext()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="UserType">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Employee Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control" data-ng-model="EmployeeType" data-ng-options="u.RoleId as u.RoleName for u in UserRoles" data-ng-change="SelectUserRole()">
                                        <option value="">--Select User Type--</option>
                                        @*<option>Business Associate</option>
                                    <option>District Head</option>
                                    <option>State Head</option>*@
                                    </select>
                                </div>
                            </div>

                            <hr />

                            <h3 class="profile-username text-center"><span class="glyphicon glyphicon-info-sign"></span> Business associate details</h3>
                            <hr />
                            <div class="form-group" data-ng-show="EmployeeType">
                                <label for="inputName" class="col-sm-2 control-label">Select State</label>
                                <div class="col-sm-10">
                                    <select class="form-control" data-ng-model="StateType" data-ng-options="s.StateId as s.StateName for s in State" data-ng-change="SelectState(1)">
                                        <option value="">--Select State--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" data-ng-show="StateType && EmployeeType > 2">
                                <label for="inputName" class="col-sm-2 control-label">Select District</label>
                                <div class="col-sm-10">
                                    <select class="form-control" data-ng-model="DistrictType" data-ng-options="d.DistrictId as d.DistrictName for d in District" data-ng-change="SelectDistrict(1)">
                                        <option value="">--Select District--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" data-ng-show="DistrictType && EmployeeType > 2">
                                <label for="inputName" class="col-sm-2 control-label">Select RTO</label>
                                <div class="col-sm-10">
                                    <select class="form-control" data-ng-model="RTOType" data-ng-options="r.RTOId as r.RTOCode for r in RTO" data-ng-change="SelectRTO()">
                                        <option value="">--Select RTO--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" data-ng-show="RTOType && EmployeeType > 3">
                                <label for="inputName" class="col-sm-2 control-label">Select Pincode</label>
                                <div class="col-sm-10">
                                    <select class="form-control" data-ng-model="PinCodeType" data-ng-options="p.PinCodeId as p.PinCode for p in PinCode">
                                        <option value="">--Select PinCode--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger" data-ng-click="UserTypeNext()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="Personal">
                        <div class="form-horizontal">
                            @*<div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>*@
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtAddress" name="txtAddress" placeholder="Address" data-ng-model="txtAddress">
                                </div>
                            </div>
                            @*<div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-10">
                                <select class="form-control" data-ng-model="updCountryType" data-ng-options="c.CountryId as c.CountryName for c in pCountry" data-ng-change="SelectCountry()">
                                    <option value="">--Select Country--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">State</label>
                            <div class="col-sm-10">
                                <select class="form-control" data-ng-model="updStateType" data-ng-options="s.StateId as s.StateName for s in updStates" data-ng-change="SelectState(2)">
                                    <option value="">--Select State--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">District</label>
                            <div class="col-sm-10">
                                <select class="form-control" data-ng-model="updDistrictType" data-ng-options="d.DistrictId as d.DistrictName for d in updDistrict">
                                    <option value="">--Select District--</option>
                                </select>
                            </div>
                        </div>*@
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">City</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtCity" placeholder="City" data-ng-model="txtCity">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Age</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Age" maxlength="3" class="form-control" data-ng-minlength="2" data-ng-maxlength="3" id="txtAge" name="txtAge" data-ng-model="txtAge">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email" data-ng-model="txtEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Mobile Number</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Mobile" maxlength="10" data-ng-minlength="10" data-ng-maxlength="10" class="form-control" id="txtMobile" name="txtMobile" data-ng-model="txtMobile">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Pan card number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtPanCard" name="txtPanCard" placeholder="PanCard Number" data-ng-model="txtPanCard">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Aadhar Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtAadhar" name="txtAadhar" placeholder="Aadhar Number" data-ng-model="txtAadhar">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger" data-ng-click="UserProfileNext()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="Company">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name of the Firm</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtFirmName" placeholder="Name of the Firm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Firm Type</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtFirmType" placeholder="Firm Type">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Telephone Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtTelephoneNo" placeholder="Telephone Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Registration Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtRegNo" placeholder="Registration Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Partner</button>
                                    <button type="submit" class="btn btn-danger">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Bank">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Account number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtAccountnumber" placeholder="Account number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Bank Name</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option>--Select User Type--</option>
                                        <option>Business Associate</option>
                                        <option>District Head</option>
                                        <option>State Head</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Bank Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtBankAddress" placeholder="Bank Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">MICR Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtMICRCode" placeholder="MICR Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">IFSC Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtIFSCCode" placeholder="IFSC Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.tab-content -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Partner Details</h4>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Partner Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtPartnerName" placeholder="Partner Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Age</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtPartnerAge" placeholder="Age">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtPartnerAddr" placeholder="Address">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>

        </div>
    </div>
</section>


