﻿@model DataTransferObject.TicketDTO
@{
    ViewBag.Title = "BACreateTicketPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        Create New Ticket
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Create New Ticket</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div data-ng-app="ticketApp" data-ng-controller="TicketController" data-ng-init="TicketInit()">
        @*<form id="frmTicketCreation" novalidate>*@
        @using (Html.BeginForm("SubmitTicket", "BADetails", null, FormMethod.Post, new { id = "frmTicketCreation", enctype = "multipart/form-data" })) 
        {
            <div class="row">

                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Vehicledetails" data-toggle="tab">Vehicle details</a></li>
                            <li><a href="#VehicleInsuranceDetails" data-toggle="tab">Vehicle Insurance Details</a></li>
                            <li><a href="#VehicleDriverDetails" data-toggle="tab">Vehicle Driver Details</a></li>
                        </ul>
                        @if (ViewBag.Result != null)
                        {
                            if (ViewBag.Result == -1)
                            {
                                <div class="form-group" id="dvServerMessage">
                                <label for="lblMessage" class="col-sm-6 control-label label-success">Ticket Created Successfully</label>
                                </div>
                            }
                            else if (ViewBag.Result == 1)
                            {
                                <div class="form-group" id="dvServerMessage">
                                <label for="lblMessage" class="col-sm-6 control-label label-danger">Driver details insertion Failed. Please Try again</label>
                                </div>
                            }
                            else if (ViewBag.Result == 2)
                            {
                                <div class="form-group" id="dvServerMessage">
                                <label for="lblMessage" class="col-sm-6 control-label label-danger">Vehicle details insertion Failed. Please Try again</label>
                                </div>
                            }
                            else if (ViewBag.Result == 3)
                            {
                                <div class="form-group" id="dvServerMessage">
                                <label for="lblMessage" class="col-sm-6 control-label label-danger">Registration No exists</label>
                                </div>
                            }
                        }
                        <div class="form-group" id="dvMessage" style="display:none">
                            <label for="lblMessage" class="col-sm-6 control-label label-danger" id="lblMessage"></label>
                        </div>
                        <div class="tab-content">
                            <div class="active tab-pane" id="Vehicledetails">
                                <div class="form-horizontal">
                                    
                                    <div class="col-md-6">

                                        <div role="form">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Registration Number</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Registration, new { id = "txtRegNo", @class = "form-control", @placeholder = "Registration Number" })
                                                    @*<input type="text" class="form-control" id="txtRegNo" placeholder="Registration Number" data-ng-model="txtRegNo">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Goods Type</label>
                                                    @Html.DropDownListFor(m => m.GoodsTypeId, new SelectList(ViewBag.GoodsTypeDTO, "GoodsTypeId", "GoodsTypeName"), "--Select Goods Type--", new { id = "GoodsType", @class = "form-control" })

                                                    @*<select class="form-control" data-ng-model="GoodsType" data-ng-options="g.GoodsTypeId as g.GoodsTypeName for g in Goods">
                                                        <option value="">--Select Goods Type--</option>
                                                    </select>*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Tonnage Capacity</label>
                                                    @Html.DropDownListFor(m => m.TonnageId, new SelectList(ViewBag.TonnageDTO, "TonnageId", "TonnageTo"), "--Select Tonnage--", new { id = "TonnageType", @class = "form-control" })
                                                    @*<select class="form-control" data-ng-options="t.TonnageId as t.TonnageTo for t in Tonnage" data-ng-model="TonnageRange">
                                                        <option value="">--Select Tonnage Type--</option>
                                                    </select>*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Make of the vehicle</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Make, new { id = "txtMake", @class = "form-control", @placeholder = "Make of the vehicle" })
                                                    @*<input type="text" class="form-control" id="txtMake" placeholder="Make of the vehicle" data-ng-model="txtMake">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Model of the vehicle</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Model, new { id = "txtModel", @class = "form-control", @placeholder = "Model of the vehicle" })
                                                    @*<input type="text" class="form-control" id="txtModel" placeholder="Model of the vehicle" data-ng-model="txtModel">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Cubic Capacity(CC)</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.CubicCapacity, new { id = "txtCC", @class = "form-control", @placeholder = "Cubic Capacity(CC)" })
                                                    @*<input type="text" class="form-control" id="txtCC" placeholder="Cubic Capacity(CC)" data-ng-model="txtCC">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Length of the vehicle</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Length, new { id = "txtLength", @class = "form-control", @placeholder = "Length of the vehicle" })
                                                    @*<input type="text" class="form-control" id="txtLength" placeholder="Length of the vehicle" data-ng-model="txtLength">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Width of the vehicle</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Width, new { id = "txtWidth", @class = "form-control", @placeholder = "Width of the vehicle" })
                                                    @*<input type="text" class="form-control" id="txtWidth" placeholder="Width of the vehicle" data-ng-model="txtWidth">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Breadth of the vehicle</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Breadth, new { id = "txtBreadth", @class = "form-control", @placeholder = "Breadth of the vehicle" })
                                                    @*<input type="text" class="form-control" id="txtBreadth" placeholder="Breadth of the vehicle" data-ng-model="txtBreadth">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Height of the vehicle</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.Height, new { id = "txtHeight", @class = "form-control", @placeholder = "Height of the vehicle" })
                                                    @*<input type="text" class="form-control" id="txtHeight" placeholder="Height of the vehicle" data-ng-model="txtHeight">*@
                                                </div> 
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Engine Number</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.EngineNumber, new { id = "txtEngine", @class = "form-control", @placeholder = "Engine Number" })
                                                    @*<input type="text" class="form-control" id="txtEngine" placeholder="Engine Number" data-ng-model="txtEngine">*@
                                                </div>                                               

                                            </div><!-- /.box-body -->

                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <!-- form start -->
                                        <div role="form">
                                            <div class="box-body">                                                
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Chassis Number</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.ChasisNumber, new { id = "txtChassis", @class = "form-control", @placeholder = "Chassis Number" })
                                                    @*<input type="text" class="form-control" id="txtChassis" placeholder="Chassis Number" data-ng-model="txtChassis">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">NOC from RTO</label>
                                                    @*<input type="text" class="form-control" id="exampleInputPassword1">*@
                                                    @Html.CheckBoxFor(m => m.VehicleDTO.NOCRTO, new { id = "chkNocRto" })
                                                    @*<input type="checkbox" id="chkNocRto">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">NOC from Police</label>
                                                    @*<input type="text" class="form-control" id="exampleInputPassword1">*@
                                                    @Html.CheckBoxFor(m => m.VehicleDTO.NOCPolicy, new { id = "chkNocPolice" })
                                                    @*<input type="checkbox" id="chkNocPolice">*@
                                                </div>                                                
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">FC Valid From</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.FCValidityFrom, new { id = "txtFCValidityFrom", @class = "form-control pull-right", @placeholder = "FC Valid From", @readonly = true })
                                                    @*<input type="date" class="form-control" name="txtFCValidityFrom" id="txtFCValidityFrom" data-ng-model="txtFCValidityFrom">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">FC Valid To</label>
                                                    @Html.TextBoxFor(m => m.VehicleDTO.FCValidityTo, new { id = "txtFCValidityTo", @class = "form-control pull-right", @placeholder = "FC Valid To", @readonly = true })
                                                    @*<input type="date" class="form-control" id="txtFCValidityTo" data-ng-model="txtFCValidityTo">*@
                                                </div>
                                                @*<div class="form-group">
                                                    <label for="exampleInputPassword1">Owner Name</label>
                                                    <input type="text" class="form-control" id="txtOwnerName">
                                                </div>*@
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Address</label>    
                                                    @Html.TextBoxFor(m => m.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address" })                                                
                                                    @*<input type="text" class="form-control" id="txtAddress" placeholder="Address" data-ng-model="txtAddress">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">City</label>
                                                    @Html.TextBoxFor(m => m.City, new { id = "txtCity", @class = "form-control", @placeholder = "City" })   
                                                    @*<input type="text" class="form-control" id="txtCity" placeholder="City" data-ng-model="txtCity">*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">District</label>
                                                    @Html.TextBoxFor(m => m.District, new { id = "txtDistrict", @class = "form-control", @placeholder = "District" }) 
                                                    @*<input type="text" class="form-control" id="txtDistrict" placeholder="District" data-ng-model="txtDistrict">*@
                                                    @*<select class="form-control">
                                                        <option value="">--Select District--</option>
                                                    </select>*@
                                                </div>                                                
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">State</label> 
                                                    @Html.TextBoxFor(m => m.State, new { id = "txtState", @class = "form-control", @placeholder = "State" })  
                                                    @*<input type="text" class="form-control" id="txtState" placeholder="State" data-ng-model="txtState">*@
                                                    @*<select class="form-control">
                                                        <option value="">--Select State--</option>
                                                    </select>*@
                                                </div>                                                
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Country</label>
                                                    @Html.TextBoxFor(m => m.Country, new { id = "txtCountry", @class = "form-control", @placeholder = "Country" }) 
                                                    @*<input type="text" class="form-control" id="txtCountry" placeholder="Country" data-ng-model="txtCountry">*@
                                                    @*<select class="form-control">
                                                        <option value="">--Select Country--</option>
                                                    </select>*@
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">PinCode</label>
                                                    @Html.TextBoxFor(m => m.PinCode, new { id = "txtPincode", @class = "form-control", @placeholder = "PinCode" }) 
                                                    @*<input type="text" class="form-control" id="txtCountry" placeholder="Country" data-ng-model="txtCountry">*@
                                                    @*<select class="form-control">
                                                        <option value="">--Select Country--</option>
                                                    </select>*@
                                                </div>
                                            </div><!-- /.box-body -->

                                        </div>


                                    </div>



                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-danger" id="VehicleNext">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="VehicleInsuranceDetails">
                                <div class="form-horizontal">
                                    @*<div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Insurance Type</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="exampleInputPassword1">
                                        </div>
                                    </div>*@

                                    @*<div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Insurer Company</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtInsurerCompany">
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Valid From</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.VehicleDTO.InsuranceStartDate, new { id = "txtInsValidityFrom", @class = "form-control pull-right", @placeholder = "Valid From", @readonly = true })
                                            @*<input type="date" class="form-control" id="txtInsValidityFrom">*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Valid To</label>
                                        <div class="col-sm-10">
                                             @Html.TextBoxFor(m => m.VehicleDTO.InsuranceEndDate, new { id = "txtInsValidityTo", @class = "form-control pull-right", @placeholder = "Valid To", @readonly = true })
                                            @*<input type="date" class="form-control" id="txtInsValidityTo">*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Permit EndDate</label>
                                        <div class="col-sm-10">
                                             @Html.TextBoxFor(m => m.VehicleDTO.PermitEndDate, new { id = "txtPermitEndDate", @class = "form-control pull-right", @placeholder = "Permit EndDate", @readonly = true })                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Insurance Photo</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="InsurancePhoto" name="InsurancePhoto">
                                            @*<input type="submit" id="btnInsurance" class="btn btn-primary" value="Upload Insurance" />*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"  class="col-sm-2 control-label">Vehicle Photo(Max 4 Photos)</label>
                                        @*<input type="text" class="form-control" id="exampleInputPassword1">*@
                                        <div class="col-sm-10">
                                            <input type="file" id="photo" name="photo" multiple/>
                                            @*<input type="submit" id="btnVehiclePhoto" class="btn btn-primary" value="Upload Vehicle" />*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"  class="col-sm-2 control-label">RC Book Photo</label>
                                        @*<input type="text" class="form-control" id="exampleInputPassword1">*@
                                        <div class="col-sm-10">
                                            <input type="file" id="RCBookPhoto" name="RCBookPhoto" />
                                            @*<input type="submit" id="btnRCPhoto" class="btn btn-primary" value="Upload RC Book" />*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"  class="col-sm-2 control-label">Permit Photo</label>
                                        @*<input type="text" class="form-control" id="exampleInputPassword1">*@
                                        <div class="col-sm-10">
                                            <input type="file" id="PermitPhoto" name="PermitPhoto"/>
                                            @*<input type="submit" id="btnPermitPhoto" class="btn btn-primary" value="Upload Permit" />*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-danger" id="InsuranceNext">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.tab-pane -->
                            <div class="tab-pane" id="VehicleDriverDetails">
                                <div class="form-horizontal">
                                   

                                    <div class="col-md-6">
                                        <form role="form">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Driver Name</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.DriverName, new { id = "txtDriverName", @class = "form-control", @placeholder = "Driver Name" })                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Driver Age</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.Age, new { id = "txtDriverAge", @class = "form-control", @placeholder = "Driver Age" })                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Driver Address</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.Address, new { id = "txtDriverAddress", @class = "form-control", @placeholder = "Driver Address" })                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">City</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.City, new { id = "txtDriverCity", @class = "form-control", @placeholder = "Driver City" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">District</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.District, new { id = "txtDriverDistrict", @class = "form-control", @placeholder = "Driver District" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">State</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.State, new { id = "txtDriverState", @class = "form-control", @placeholder = "Driver State" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Country</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.Country, new { id = "txtDriverCountry", @class = "form-control", @placeholder = "Driver Country" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Pan card Number</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.PanCard, new { id = "txtDriverPanCard", @class = "form-control", @placeholder = "Driver PanCard" })
                                                </div>
                                            </div><!-- /.box-body -->

                                        </form>


                                    </div>

                                    <div class="col-md-6">
                                        <!-- form start -->
                                        <div role="form">
                                            <div class="box-body">                                
                                                <div class="form-group">
                                                    <label for="txtDriverAadhar">Aadhar card number</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.AadharCard, new { id = "txtDriverAadhar", @class = "form-control", @placeholder = "Aadhar card number" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">FC Photo</label>
                                                    <input type="file" id="fcPhoto" name="fcPhoto">
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtDriverMobNo">Mobile Number</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.Mobile, new { id = "txtDriverMobNo", @class = "form-control", @placeholder = "Mobile Number" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtDriverEmail">Email Id</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.Email, new { id = "txtDriverEmail", @class = "form-control", @placeholder = "Email Id" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">DL Number</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.DLNumber, new { id = "txtDLNo", @class = "form-control", @placeholder = "DL Number" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">DL End Date</label>
                                                    @Html.TextBoxFor(m => m.DriverDTO.DLValidity, new { id = "txtDLValidity", @class = "form-control pull-right", @placeholder = "DL End Date", @readonly = true })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Amount</label>
                                                    @Html.TextBoxFor(m => m.Amount, new { id = "txtAmount", @class = "form-control", @placeholder = "Amount" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Driver Photo</label>
                                                    <input type="file" id="DriverPhoto" name="DriverPhoto">
                                                </div>                                               

                                            </div><!-- /.box-body -->

                                        </div>


                                    </div>

                                    <div class="box-footer" style="padding-left: 45%;">
                                        <button type="submit" class="btn btn-primary" id="submitTicket">Submit Ticket</button>
                                        <button type="button" class="btn btn-primary">Reset</button>
                                    </div>

                                </div>
                            </div><!-- /.tab-pane -->                            
                            
                        </div><!-- /.tab-content -->
                    </div><!-- /.nav-tabs-custom -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        }
        @*</form>*@
    </div>
</section>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/BA/Ticket.js"></script>
<script type="text/javascript">
    $(function () {
        $("#VehicleNext").click(function () {
            VehicleNext();
        });

        $("#InsuranceNext").click(function () {
            InsuranceNext();
        });

        $("#submitTicket").click(function (e) {
            if (!SubmitTicket()) {
                //e.preventDefault();
            } 
        });        

        $('#txtFCValidityTo').daterangepicker({ timePicker: false, singleDatePicker: true });
        $('#txtFCValidityFrom').daterangepicker({ timePicker: false, singleDatePicker: true });
        $('#txtInsValidityTo').daterangepicker({ timePicker: false, singleDatePicker: true });
        $('#txtInsValidityFrom').daterangepicker({ timePicker: false, singleDatePicker: true });
        $('#txtDLValidity').daterangepicker({ timePicker: false, singleDatePicker: true });
        $("#txtPermitEndDate").daterangepicker({ timePicker: false, singleDatePicker: true });

        //$("#frmTicketCreation").validate({
        //    submitHandler: function (form) {
        //        alert();
        //    }
        //});

        //$("form").submit(function (e) {
        //    debugger;
        //    e.preventDefault();
        //    alert(122312);
        //});
    });
</script>
