﻿@{
    ViewBag.Title = "BAEnableorDisableVehiclePage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        Enable/Disable Vehicle
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Enable/Disable Vehicle</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehicle Number</label>
                            <select class="form-control">
                                <option>--Select Vehicle Number--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>
                        
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Enable</button>
                        <button type="submit" class="btn btn-primary">Disable</button>
                    </div>
                </form>
            </div><!-- /.box -->

        </div>
    </div>
</section>
