﻿@{
    ViewBag.Title = "BAUpdateDriverDetailsPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        Update Driver Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Update Driver Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row" style="margin:0px;">
        <!-- left column -->

        <div class="box box-primary col-md-12">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div><!-- /.box-header -->
            <div class="col-md-6">

                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehicle Number</label>
                            <select class="form-control">
                                <option>--Select User Type--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Age</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">City</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">District</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">State</label>
                            <select class="form-control">
                                <option>--Select User Type--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>
                        
                    </div><!-- /.box-body -->
                    
                </form>


            </div>

            <div class="col-md-6">
                <!-- form start -->
                <form role="form">
                    <div class="box-body">   
                        <div class="form-group">
                            <label for="exampleInputPassword1">Country</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>                     
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mobile Number</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Email Id</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">DL Number</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Photo</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Pan card Number</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Aadhar card number</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>

                    </div><!-- /.box-body -->
                    
                </form>


            </div>

            <div class="box-footer" style="padding-left: 45%;">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div><!-- /.box -->
    </div>
</section>
