﻿@{
    ViewBag.Title = "BAUpdateVehicleLocationPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        Update Vehicle Location
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Update Vehicle Location</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehicle Number</label>
                            <select class="form-control">
                                <option>--Select User Type--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">City</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">District</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">State</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Country</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Current Location</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div><!-- /.box -->

        </div>
    </div>
</section>
