﻿@{
    ViewBag.Title = "BAUpdateVehicleDetailsPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        Update Vehicle Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Update Vehicle Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row" style="margin:0px;">
        <!-- left column -->

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div><!-- /.box-header -->
            <div class="col-md-6">

                <div role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vehicle Number</label>
                            <select class="form-control">
                                <option>--Select User Type--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Goods Type</label>
                            <select class="form-control">
                                <option>--Select User Type--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Tonnage Capacity</label>
                            <select class="form-control">
                                <option>--Select User Type--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Make of the vehicle</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Model of the vehicle</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cubic Capacity(CC)</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Length of the vehicle</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Width of the vehicle</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Breadth of the vehicle</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Height of the vehicle</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Engine Number</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Chassis Number</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>

                    </div><!-- /.box-body -->

                </div>


            </div>

            <div class="col-md-6">
                <!-- form start -->
                <div role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">NOC from RTO</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">NOC from Police</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Photo</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">FC Validity From</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">FC Validity To</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Owner Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">City</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">District</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">State</label>
                            <select class="form-control">
                                <option>--Select State--</option>
                                <option>Business Associate</option>
                                <option>District Head</option>
                                <option>State Head</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Country</label>
                            <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>

                    </div><!-- /.box-body -->

                </div>


            </div>
        
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div><!-- /.box -->
    </div>
</section>
