﻿@model List<DataTransferObject.VehicleDTO>
@{
    ViewBag.Title = "BAViewVehiclesListPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        View Vehicles List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">View Vehicles List</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Reg No</th>
                                <th>Vehicle Make</th>
                                <th>Vehicle Model</th>
                                <th>Cubic Capacity</th>
                                <th>Engine No</th>
                                <th>Chassis No</th>
                                <th>FC ValidityTo</th>
                                <th>Insurance EndDate</th>
                                <th>Permit EndDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                 foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Registration</td>
                                        <td>@item.Make</td>
                                        <td>@item.Model</td>
                                        <td>@item.CubicCapacity</td>
                                        <td>@item.EngineNumber</td>
                                        <td>@item.ChasisNumber</td>
                                        <td>@item.FCValidityTo.ToShortDateString()</td>
                                        <td>@item.InsuranceEndDate.ToShortDateString()</td>
                                        <td>@item.PermitEndDate.ToShortDateString()</td>
                                    </tr>
                                }  
                            }                                                     
                        </tbody>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
