﻿@model List<DataTransferObject.TicketDTO>
@{
    ViewBag.Title = "BAViewTicketsPage";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<section class="content-header">
    <h1>
        View Tickets
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">View Tickets</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Registration No</th>
                                <th>Tonnage</th>
                                <th>Amount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Active</th>
                                <th>Status</th>
                                <th>BA Comments</th>
                                <th>DH Comments</th>
                                <th>SH Comments</th>
                                <th>SA Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.VehicleDTO.Registration</td>
                                    <td>@item.TonnageDTO.TonnageTo</td>
                                    <td>@item.Amount</td>
                                    <td>@item.TicketStartDate</td>
                                    <td>@item.TicketEndDate</td>
                                    @if (item.IsActive)
                                    {
                                         <td><span class="label label-success">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-warning">In-Active</span></td>
                                    }
                                    @if (item.TicketStatusDTO.TicketStatusDesc.ToLower().Contains("approved"))
                                    {
                                        <td><span class="label label-success">@item.TicketStatusDTO.TicketStatusDesc</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-warning">@item.TicketStatusDTO.TicketStatusDesc</span></td>
                                    }
                                    <td>@item.BAComments</td>
                                    <td>@item.DHComments</td>
                                    <td>@item.SHComments</td>
                                    <td>@item.SAComments</td>
                                </tr>
                            }                            
                        </tbody>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
