﻿@using System.Web.Mvc
@{    
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Login/Login.js"></script>
<script type="text/javascript"> 
    var loginUrl = '@Url.Action("LoginClick","Login")';
    var saLoginUrl = '@Url.Action("SALandingPage","SADetails")';
    var shLoginUrl = '@Url.Action("SHLandingPage","SHDetails")';
    var dhLoginUrl = '@Url.Action("DHLandingPage","DHDetails")';
    var baLoginUrl = '@Url.Action("BALandingPage","BADetails")';
</script>
<div data-ng-app="loginApp" data-ng-controller="LoginController" data-ng-Init="InitializeLogin()" class="hold-transition">
    <form id="IndexForm" novalidate>
        @*<p>User Name : <input type="text" id="txtUserName" name="txtUserName" data-ng-model="UserName" required/>
                <span style="color:red" data-ng-show="IndexForm.txtUserName.$dirty && IndexForm.txtUserName.$invalid"></span>
                <span style="color:red" data-ng-show="IndexForm.txtUserName.$error.required">Enter the User Name.</span>
            </p>

            <p>
                Password : <input type="password" id="txtPassword" name="txtPassword" data-ng-model="Password" required />
                <span style="color:red" data-ng-show="IndexForm.txtPassword.$dirty && IndexForm.txtPassword.$invalid"></span>
                <span style="color:red" data-ng-show="IndexForm.txtPassword.$error.required">Enter the Password.</span>
            </p>
            <p>
                <button type="submit" id="btnLogin" data-ng-click="Login()">Login</button>
            </p>*@

        <div class="login-box">
            <div class="login-logo">
                <b>Sign in to start your session</b>
            </div><!-- /.login-logo -->
            <div class="form-group" id="dvMessage" style="display:none">
                <label for="lblMessage" class="control-label label-danger" id="lblMessage" data-ng-model="lblMessage">{{lblMessage}}</label>
            </div>

            <div class="login-box-body">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="UserName" id="txtUserName" name="txtUserName" data-ng-model="UserName" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span style="color:red" data-ng-show="IndexForm.txtUserName.$dirty && IndexForm.txtUserName.$invalid"></span>
                    <span style="color:red" data-ng-show="IndexForm.txtUserName.$error.required">Enter the User Name.</span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="txtPassword" name="txtPassword" data-ng-model="Password" required class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span style="color:red" data-ng-show="IndexForm.txtPassword.$dirty && IndexForm.txtPassword.$invalid"></span>
                    <span style="color:red" data-ng-show="IndexForm.txtPassword.$error.required">Enter the Password.</span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" id="ChkRememberMe"> Remember Me
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" id="btnLogin" data-ng-click="Login()" class="btn btn-primary btn-block btn-flat" 
                            data-ng-disabled="IndexForm.txtUserName.$dirty && IndexForm.txtUserName.$invalid || IndexForm.txtPassword.$dirty && IndexForm.txtPassword.$invalid">Sign In</button>
                    </div><!-- /.col -->
                </div>


                <a href="#">I forgot my password</a><br>
                <a href="#" class="text-center">Register a new membership</a>


            </div>
        </div>

    </form>
</div>
