﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>WHO ARE WE</h1>
</hgroup>

<article>
    <p>
        We are the leading neutral trade-only network solution, connecting the carrier to end user with our ‘SEARCH-COMPARE-SCHEDULE-SAVE’ Processes. Our solution is a real time platform with intelligent load matching capabilities supported by a robust member accreditation system. We provide premium quality services reducing supply chain cost born by end users, while generating great business opportunities for goods vehicle owners. We are the connection between service providers and end users.
    </p>

</article>

<aside>
    <h3>MISSION</h3>
    <p>
        To be regarded as a fast, reliable, safe and cost effective trucking solution provider.
    </p>
    <h3>VISION</h3>
    <p>
        To be the world's largest trucking solution group.
    </p>
    <h3>TRUCKING 24/7</h3>
    <p>
        For clients (end users) LTLINDIA’s Trucking 24/7 solution will help plan, low-cost, profitable, trouble free cargo transport from any origin to any destination of India, Bhutan, Bangladesh, and Nepal. This becomes a reliable system to ensure a sizable, regular customer base to have consistently grow in your business. We give you easy, hassle free access to large carriers data, based on your requirement. In terms of weight, volume, nature and size of cargo from light weight carrying three wheelers to hard dimension carrying trailers (Project cargo vehicle), trucking 24/7 allows you to dispatch your products which are even produced in the late night to meet your deadline commitment with your clients.
    </p>
    <h3>WHY LTL</h3>
    <p>
        With LTLINDIA, Shippers can gain access to India's largest cargo carrying vehicle network. can improve efficiency with our easy-to-use Exchange web site. Reduce your logistics cost by bidding the transport charges with various carriers recommended by www.ltlindia.com also reduce your transit schedule by using the end carrier who start from shipper Door and stop Only at receiver door..
        Increase the size and depth of your carrier pool and improve visibility with our state of the art solution. Shippers using www.ltlindia.com get real-time access to our online search platform, where a large number of independent vehicle operators post their availability status on a minute-by-minute basis.
    </p>
</aside>