﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="featured">
    <div >
        <hgroup class="title">
            <h1>LTL (Location to Location) is India’s largest Truck Network.</h1>

        </hgroup>
        <p>
            We aim to provide premium quality services that cut down on the supply chain cost borne by end users while using transport services in-turn creating great business opportunities for truck owners. We are the bridge that links end users to end carriers.
        </p>
    </div>


    <h3>We suggest the following:</h3>
    <ol class="round">
        <li class="one">
            <h5>SEARCH VEHICLE</h5>
            Trucking 24/7 will help you arrange for trouble-free movement of your cargo from any origin to any destination within India.
        </li>

        <li class="two">
            <h5>GET CONNECT</h5>
            We connect you with service providers who support cargo transport requirements with reasonable charges.
        </li>

        <li class="three">
            <h5>SELECT VEHICLE</h5>
            Transport vehicles that suit your needs best in terms of the weight, volume, nature and size of your cargo.
        </li>

        <li class="four">
            <h5>SMOOTH TRANSIT</h5>
            Our solution will help ensure that your consignment is not stuck at any point during transit due to service providers.
        </li>
    </ol>
</section>